.tilt {
  text-align: center;
  width: fit-content;
  transform-style: preserve-3d;
  perspective: 100.0rem;
  height: fit-content;
  width: 22.0rem;
  display: flex;
  align-items: center;
  margin: 10.0rem;
  padding: 1.0rem;
}

.tilt:hover {
  scale: 1.13;
}

.card2__description__image1 {
  width: 25.0rem;
  height: 40.0rem;
  /* box-shadow: 0 .5rem 4.0rem rgba(0, 0, 0, 0.2); */
  transform: translateZ(4.0rem);
}

.card2__description__nameOfProject {
  margin-bottom: 0;
  position: relative;
}

.card2__description {
  transform: translateZ(8.0rem);
  width: 7.0rem;
  color: var(--color__text__main);
}
